body{
    background-image: url("../images/leaves-pattern.png");
    background-repeat: repeat-y repeat-x;
}

h1 {
    /* width: 288px; */
    background-color: #4aaaa5;
    padding: 30px;
    float: left;
    color: white;
    /* width: 70%; */
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #dddddd;
    margin-left: 300px;
    /* margin-right: auto; */
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 20px;
}

h6{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    padding: 50px 10px 3px 10px;
    clear: both;
    background: #666666;
    border-top: 6px solid #4aaaa5;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0px;

}


.link{
    /* float: left; */
    /* width: 672px; */
    background-color: #ffffff;
    padding: 30px 500px 69px 10px;;
    /* padding-bottom: 60px; */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: right; 
    /* display: block; */
    /* position: static;    */
    /* text-indent: 300px; */
    border-bottom: 2px solid #dddddd;
    font-size: 15px;
    text-decoration: none;
    text-decoration: underline;
    color: #888787;

}

.box1{
    display: block;
    width: 100%;
    max-width: 960px;
    height: auto;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    margin-left: 300px;
    width: 50%;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #888787;

}

.box2 img{
    float: left;
}

.box2 p{
    word-wrap: break-word;
    padding: 5px;
}



.image-size{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    padding-right: 10px;


}

.text1{
    display: block;
}

.name-email{
    width: 720px;
    max-width: auto;
    height: 30px;
}

.message1{
    width: 720px;
    height: 200px;
}

.contactcolor{
    color: #888787;
}

.button1{
    padding: 15px 32px;
    background-color: #4aaaa5;
    color: white; 
    text-align: center;
    font-size: 15px;

}
